@model object

<nav class="main-menu">
    <div class="container">
        <ul class="main">

            @switch ((int)Model)
            {
                case 1:
                    <li><a href="/profile/edit" class="active">@SiteLanguage.Edit_Profile</a></li>
                    <li><a href="/email-settings">@SiteLanguage.Email_Settings</a></li>
                    <li><a href="/account-settings">@SiteLanguage.Account_Settings</a></li>
                    break;
                case 2:
                    <li><a href="/profile/edit" >@SiteLanguage.Edit_Profile</a></li>
                    <li><a href="/email-settings" class="active">@SiteLanguage.Email_Settings</a></li>
                    <li><a href="/account-settings">@SiteLanguage.Account_Settings</a></li>
                    break;
                case 3:
                    <li><a href="/profile/edit">@SiteLanguage.Edit_Profile</a></li>
                    <li><a href="/email-settings">@SiteLanguage.Email_Settings</a></li>
                    <li><a href="/account-settings" class="active">@SiteLanguage.Account_Settings</a></li>
                    break;
                default:
                    break;
            }

          
        </ul>
    </div>
    <div class="col-xs-2 mobile-menu dropdown">
        <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Menü
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            @switch ((int)Model)
            {
                case 1:
                    <li><a href="/profile/edit" class="active">@SiteLanguage.Edit_Profile</a></li>
                    <li><a href="/email-settings">@SiteLanguage.Email_Settings</a></li>
                    <li><a href="/account-settings">@SiteLanguage.Account_Settings</a></li>
                    break;
                case 2:
                    <li><a href="/profile/edit">@SiteLanguage.Edit_Profile</a></li>
                    <li><a href="/email-settings" class="active">@SiteLanguage.Email_Settings</a></li>
                    <li><a href="/account-settings">@SiteLanguage.Account_Settings</a></li>
                    break;
                case 3:
                    <li><a href="/profile/edit" >@SiteLanguage.Edit_Profile</a></li>
                    <li><a href="/email-settings">@SiteLanguage.Email_Settings</a></li>
                    <li><a href="/account-settings" class="active">@SiteLanguage.Account_Settings</a></li>
                    break;
            }
            
        </ul>
    </div>
</nav>
