
@model IEnumerable<ShareVM>

@foreach (var item in Model)
{
    <div class="feed-home user-feed" >
        @if (item.MediaTypeID == 0)
        {
            <div class="feed-box box-white" data-feed-id="2">
                <div class="feed-header">
                    <div class="feed-head">
                        <div class="feed-photo company">
                            <img src="@item.User.ProfilePhoto" class="img-responsive">
                        </div>
                        <div class="feed-sender">
                            <a href="#">@item.User.FullName</a>
                        </div>
                        <div class="feed-time">
                            @item.PrettyDate
                        </div>
                        <div class="feed-cat">
                            @SiteLanguage._AROUNDME
                        </div>
                    </div>
                </div>
                <div class="feed-content">
                    <img src="@item.ProfilePhotoPath" class="small img-responsive">
                    <p>@item.Post</p>
                </div>
                <div class="feed-footer">
                    <div class="feed-buttons">
                        <button type="button" name="feed-like" class="feed-btn" data-jq-dropdown="#feed-likes-dropdown" data-horizontal-offset="-62%" data-vertical-offset="5">
                            <span>@item.LikeCount</span>
                            <span><i class="fa fa-thumbs-up"></i></span>
                        </button>
                    </div>
                    <div class="feed-buttons">
                        <button type="button" name="feed-comment" class="feed-btn">
                            <span>@item.CommentCount</span>
                            <span><i class="fa fa-comment"></i></span>
                        </button>
                    </div>
                    <div class="feed-buttons">
                        <button type="button" name="feed-share" class="feed-btn">
                            <span>@item.ShareCount</span>
                            <span><i class="fa fa-share"></i></span>
                        </button>
                    </div>
                </div>
            </div>
        }
        else if (item.MediaTypeID == 1)
        {

            <div class="feed-box box-white" data-feed-id="3">
                <div class="feed-header">
                    <div class="feed-head">
                        <div class="feed-photo company">
                            <img src="@item.User.ProfilePhoto" class="img-responsive">
                        </div>
                        <div class="feed-sender">
                            <a href="#">@item.User.FullName</a>
                        </div>
                        <div class="feed-time">
                            @item.PrettyDate
                        </div>
                        <div class="feed-cat">
                            @SiteLanguage._AROUNDME
                        </div>
                    </div>
                </div>
                <div class="feed-content">
                    <div class="feed-video">
                        <video id="sn_video" class="video-post" preload="metadata" controls poster="~/Content/Site/assets/images/yakin_kampus.png">
                            <!-- HTML5 <video> sources -->
                            <source src="@item.PostMediaPath" type='video/mp4'>
                            <source src="@item.PostMediaPath" type='video/webm'>
                        </video>
                    </div>
                </div>
                <div class="feed-footer">
                    <div class="feed-buttons">
                        <button type="button" name="feed-like" class="feed-btn" data-jq-dropdown="#feed-likes-dropdown" data-horizontal-offset="-62%" data-vertical-offset="5">
                            <span>@item.LikeCount</span>
                            <span><i class="fa fa-thumbs-up"></i></span>
                        </button>
                    </div>
                    <div class="feed-buttons">
                        <button type="button" name="feed-comment" class="feed-btn">
                            <span>@item.CommentCount</span>
                            <span><i class="fa fa-comment"></i></span>
                        </button>
                    </div>
                    <div class="feed-buttons">
                        <button type="button" name="feed-share" class="feed-btn">
                            <span>@item.ShareCount</span>
                            <span><i class="fa fa-share"></i></span>
                        </button>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="feed-box box-white" data-feed-id="1">
                <div class="feed-header">
                    <div class="feed-head">
                        <div class="feed-photo">
                            <img src="@item.User.ProfilePhoto" class="img-responsive">
                        </div>
                        <div class="feed-sender">
                            <a href="#">@item.User.FullName</a>
                        </div>
                        <div class="feed-time">
                            @item.PrettyDate
                        </div>
                        <div class="feed-cat">
                            @SiteLanguage._AROUNDME
                        </div>
                    </div>
                </div>
                <div class="feed-content">
                    <p>@item.Post</p>
                </div>
                <div class="feed-footer">
                    <div class="feed-buttons">
                        <button type="button" name="feed-like" class="feed-btn" data-jq-dropdown="#feed-likes-dropdown" data-horizontal-offset="-62%" data-vertical-offset="5">
                            <span>@item.LikeCount</span>
                            <span><i class="fa fa-thumbs-up"></i></span>
                        </button>
                    </div>
                    <div class="feed-buttons">
                        <button type="button" name="feed-comment" class="feed-btn">
                            <span>@item.CommentCount</span>
                            <span><i class="fa fa-comment"></i></span>
                        </button>
                    </div>
                    <div class="feed-buttons">
                        <button type="button" name="feed-share" class="feed-btn">
                            <span>@item.ShareCount</span>
                            <span><i class="fa fa-share"></i></span>
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
}


