@model UserVM
@using FeedVinc.Common.Services





<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb20">
    <div class="box-white profile-box">
        <a href="">
            <img src="@Model.ProfilePhoto" class="img-responsive">
        </a>
        <div class="profile-desc">
            <h1>@Model.FullName</h1>
            <div class="profile-type">
                @Model.UserTypeText
            </div>
            <div class="profile-from">
                @if (!String.IsNullOrEmpty(Model.CityName) || !String.IsNullOrEmpty(Model.CountryName))
                {
                    <i class="fa fa-map-marker"></i> <span>@Model.CityName, @Model.CountryName</span>
                }
            </div>
            <div class="profile-title">
                @Model.JobInformation
                <a href="@Model.UserWebLink">@Model.UserWebLink</a>
            </div>
            <div class="profile-buttons">
                @if (Model.ID == ViewBag.CurrentUserID)
                {
                    <div class="button-group pull-right">
                        <a href="/profile/edit" class="btn btn-default fs16">@SiteLanguage.Edit</a>
                    </div>
                }
                else
                {
                    if (ViewBag.IsFollowedUser)
                    {
                        <div class="button-group pull-right">
                            <a onclick="Follow(@ViewBag.CurrentUserID,@Model.ID,'user')" id="user-follow_@Model.ID" class="btn btn-default fs16">@SiteLanguage.Followed</a>
                        </div>
                    }
                    else
                    {
                        <div class="button-group pull-right">
                            <a onclick="Follow(@ViewBag.CurrentUserID,@Model.ID,'user')" id="user-follow_@Model.ID" class="btn btn-default fs16">@SiteLanguage.Follow</a>
                        </div>
                    }

                }

                <div class="profile-followers">
                    <span id="followerCount">
                        @Model.FollowerCount  
                    </span>
                    <span>
                        @SiteLanguage.Followers
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


