
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

@model ProjectTaskDetailVM

@{
    Html.RenderAction("GetNavbar", "BaseUI");
}

<main>
    <section class="container">
        <div class="row">
            <!-- Sol içerik -->
            <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb30">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="task-wrap">
                            <div class="task-caption">
                                <h3>@Model.TaskTitle</h3>
                                <a href="@ViewBag.BackToTaskStep" class="pull-right">@SiteLanguage.BackToTask</a>
                            </div>
                            <div class="task">
                                <div class="task-model mmb20">
                                    <a href="#canvas-modal"><img src="@Model.TaskLogo" alt="@Model.TaskTitle" class="img-responsive"></a>
                                </div>
                                <div class="task-desc">
                                    <h6>@SiteLanguage.Information</h6>
                                    <p>@Model.TaskDescription</p>
                                </div>
                            </div>

                            @if (Model.HasTextInput && Model.HasHyperLink)
                            {
                                <div class="task-answer">
                                    <div class="form-col">
                                        <label for="task_answer">@SiteLanguage.Answer</label>
                                        <textarea id="taskanswer" name="task_answer" class="textarea">@Model.Answer</textarea>
                                        <input id="taskid" type="hidden" name="TaskID" value="@Model.TaskID" />
                                        <input id="projectid" type="hidden" name="ProjectID" value="@Model.ProjectID" />
                                        <input id="typeid" type="hidden" name="ProjectID" value="@Model.TaskTypeID" />
                                    </div>
                                    <div class="form-col">
                                        <button type="button" class="btn btn-default fs16 pull-left task-link" data-task-href="@Model.HyperLink">Link</button>
                                        <button onclick="AnswerToQuestion()" type="button" class="btn btn-default fs16 pull-right">@SiteLanguage.SaveToTask</button>
                                        @*<button type="button" class="btn btn-default fs16 pull-right mr20">@SiteLanguage.SkipToTask</button>*@
                                    </div>
                                </div>
                            }
                            else if (Model.HasTextInput == true && Model.HasHyperLink == false)
                            {
                                <div class="task-answer">
                                    <div class="form-col">
                                        <label for="task_answer">@SiteLanguage.Answer</label>
                                        <textarea id="taskanswer" name="task_answer" class="textarea">@Model.Answer</textarea>
                                        <input id="taskid" type="hidden" name="TaskID" value="@Model.TaskID" />
                                        <input id="projectid" type="hidden" name="ProjectID" value="@Model.ProjectID" />
                                        <input id="typeid" type="hidden" name="ProjectID" value="@Model.TaskTypeID" />
                                    </div>
                                    <div class="form-col">
                                        <button onclick="AnswerToQuestion()" type="button" class="btn btn-default fs16 pull-right">@SiteLanguage.SaveToTask</button>
                                        @*<button type="button" class="btn btn-default fs16 pull-right mr20">@SiteLanguage.SkipToTask</button>*@
                                    </div>
                                </div>
                            }
                            else if (Model.HasTextInput == false && Model.HasHyperLink == true)
                            {
                                <div class="task-answer">
                                    <div class="form-col">
                                        <button type="button" class="btn btn-default fs16 pull-left task-link" data-task-href="@Model.HyperLink">Link</button>
                                        <button type="button" class="btn btn-default fs16 pull-right">@SiteLanguage.SaveToTask</button>
                                        @*<button type="button" class="btn btn-default fs16 pull-right mr20">@SiteLanguage.SkipToTask</button>*@
                                    </div>
                                </div>
                            }


                        </div>
                    </div>
                </div>
            </section>
            <!-- Sol içerik bitti -->
        </div>
    </section>
</main>


@section scripts{

    <script>

        function AnswerToQuestion() {
           
            var taskAnswer  = $("#taskanswer").val();
            var taskID  = $("#taskid").val();
            var projectID = $("#projectid").val();
            var typeid = $("#typeid").val();

            var dataPost = {
                TaskAnswer: taskAnswer,
                TaskID: taskID,
                ProjectID: projectID,
                TaskTypeID : typeid
            };

            alert("Test");

            $.ajax({
                url: "/ProjectTaskUI/AnswerToQuestion/",
                type: "Post",
                data: dataPost,
                success: function (res) {

                    console.log(res);

                    if (res.IsValid == true) {

                        alert(res.success);
                    }
                    else {
                        alert(res.error);
                    }

                }
            })
            
        }


    </script>


}