
@using FeedVinc.WEB.UI.Models.ViewModels.Community
@model List<CommunityVM>


@foreach (var item in Model)
{
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb20">
        <div class="box-white project-box">
            <a href="/community-profile/@item.CommunitySlug/@item.CommunityCode"><img src="@item.CommunityProfilePhoto" style="max-width:120px;max-height:120px; min-height:120px; min-width:120px; " class="img-responsive" alt="Yakın Kampüs"></a>
            <a href="/community-profile/@item.CommunitySlug/@item.CommunityCode"><h2 class="with-subtitle">@item.CommunityName</h2></a> 
            <div class="project-subtitle">@item.CityName, @item.CountryName</div>
            <p class="subtitle">@item.CommunityObjective</p>
            <div class="project-follow">
                @if (item.Joined)
                {
                    <button id="community-follow_@item.CommunityID" onclick="Follow(@ViewBag.CurrentUserID,@item.CommunityID,'community')" class="btn btn-default fs16 following">@SiteLanguage.Joined</button>
                }
                else
                {
                    <button id="community-follow_@item.CommunityID" onclick="Follow(@ViewBag.CurrentUserID,@item.CommunityID,'community')" class="btn btn-default fs16 following">@SiteLanguage.Join</button>
                }

            </div>
        </div>
    </div>
}

