@using FeedVinc.WEB.UI.Models.ViewModels.Community
@model CommunityMenuVM

<nav class="main-menu">
    <div class="container">
        <ul class="main">
            @switch (Model.MenuID)
            {
                case 1:
                    <li><a href="/community-profile/@Model.CommunitySlugify/@Model.CommunityCode" >@SiteLanguage.Profile</a></li>
                    <li><a href="/community-edit/@Model.CommunitySlugify/@Model.CommunityCode" class="active">@SiteLanguage.Community_Edit</a></li>
                    <li><a href="/community-manager-edit/@Model.CommunitySlugify/@Model.CommunityCode">@SiteLanguage.Edit_Community_Manager</a></li>
                    break;
                case 2:
                    <li><a href="/community-profile/@Model.CommunitySlugify/@Model.CommunityCode">@SiteLanguage.Profile</a></li>
                    <li><a href="/community-edit/@Model.CommunitySlugify/@Model.CommunityCode">@SiteLanguage.Community_Edit</a></li>
                    <li><a href="/community-manager-edit/@Model.CommunitySlugify/@Model.CommunityCode" class="active">@SiteLanguage.Edit_Community_Manager</a></li>
                    break;
                default:
                    break;
            }
        </ul>
    </div>
    <div class="col-xs-2 mobile-menu dropdown">
        <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Menü
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            @switch (Model.MenuID)
            {
                case 1:
                    <li><a href="/community-profile/@Model.CommunitySlugify/@Model.CommunityCode" >@SiteLanguage.Profile</a></li>
                    <li><a href="/community-edit/@Model.CommunitySlugify/@Model.CommunityCode" class="active">@SiteLanguage.Community_Edit</a></li>
                    <li><a href="/community-manager-edit/@Model.CommunitySlugify/@Model.CommunityCode">@SiteLanguage.Edit_Community_Manager</a></li>
                    break;
                case 2:
                    <li><a href="/community-profile/@Model.CommunitySlugify/@Model.CommunityCode" >@SiteLanguage.Profile</a></li>
                    <li><a href="/community-edit/@Model.CommunitySlugify/@Model.CommunityCode">@SiteLanguage.Community_Edit</a></li>
                    <li><a href="/community-manager-edit/@Model.CommunitySlugify/@Model.CommunityCode" class="active">@SiteLanguage.Edit_Community_Manager</a></li>
                    break;
                default:
                    break;
            }
        </ul>
    </div>
</nav>
