
@{
    ViewBag.Title = "Feed";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

@{
    Html.RenderAction("GetNavbar","HomeUI");
}

<main>
    <section class="container">
        <div class="row">
            <section class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                @Html.Partial("FeedPartial/_feedMenu")
                @Html.Partial("FeedPartial/_sharebox")
                @Html.Partial("FeedPartial/_feed")

            </section>
            <section class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="row">
                    @Html.Partial("FeedPartial/_Invested")
                    @Html.Partial("FeedPartial/_launch")
                    @Html.Partial("FeedPartial/_trend")
                    @Html.Partial("FeedPartial/_friendSuggest")
                    @Html.Partial("FeedPartial/_event")
                    @Html.Partial("FeedPartial/_community")
                </div>
            </section>
        </div>
    </section>
</main>

@section scripts{
    <script>

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-center"
        };


        $('#frmShare').ajaxForm({
            clearForm: true,
            resetForm: true,
            beforeSubmit: function () {
                var target = document.getElementById('loading');
                $(target).show();
                var spinner = new Spinner();
                console.log(spinner.opts);
                spinner.opts.top = "5%";
                spinner.opts.scale = 2;
                spinner.spin();
                target.appendChild(spinner.el);
            },
            success: function (response) {
                console.log(response);
                var target = document.getElementById('loading');
                $(target).hide();

                $("#feeds").html(response);

                if (response.IsValid==false) {
                    toastr.error(response.ErrorMessage);
                    console.log(response);
                }
            }
        });
    </script>

}
