
@{
    ViewBag.Title = "Feed";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

@using FeedVinc.WEB.UI.UIServices

@{
    Html.RenderAction("GetNavbar", "BaseUI");
}

<main>
    <section class="container">
        <div class="row">
            <section class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                @Html.Partial("FeedPartial/_feedMenu")
                @Html.Partial("FeedPartial/_sharebox")

                @{
                    Html.RenderAction("GetFeedDefault", "HomeUI");
                }

            </section>
            <section class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="row">
                    @Html.Partial("FeedPartial/_launch")
                    @Html.Partial("FeedPartial/_trend")
                    @Html.Partial("FeedPartial/_friendSuggest")
                    @Html.Partial("FeedPartial/_event")
                    @Html.Partial("FeedPartial/_community")
                </div>
            </section>
            <div id="scroll-loading"></div>
        </div>
    </section>
</main>

@Html.Partial("IndexPartial/_footer")



@section scripts{

    <script src="~/Scripts/Feed/feed.js"></script>
}




