
@{
    Layout = null;
}

@model List<ProjectSliderVM>

<!doctype html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>FeedVinc</title>

    <!-- CSS & Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Asap:400,700|Cardo:400,400italic|Roboto:400,100,300,500|Source+Sans+Pro:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/Site/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/Site/assets/css/font-awesome.css">
    <link rel="stylesheet" href="~/Content/Site/assets/css/remodal.css">
    <link rel="stylesheet" href="~/Content/Site/assets/css/remodal-default-theme.css">
    <link rel="stylesheet" href="~/Content/Site/assets/css/style.css">
    <link rel="stylesheet" href="~/Content/Site/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/Site/assets/css/owl.theme.css">
    <link rel="stylesheet" href="~/Content/Site/assets/css/media-queries.css">
    <link href="~/Content/Site/assets/css/toaster.css" rel="stylesheet" />
</head>

<body>
    <div class="remodal-bg">
        <!-- Her sayfada kapsayan olarak kalması gerekiyor -->
        <!-- Header -->
        @Html.Partial("IndexPartial/_header")
        @Html.Partial("IndexPartial/_content")
        @{
            Html.RenderPartial("IndexPartial/_projectSlider", Model);
        }
        @Html.Partial("IndexPartial/_footer")

        @* Modals Start *@

        @Html.Partial("IndexPartial/Modals/_loginModal", new LoginVM())
        @Html.Partial("IndexPartial/Modals/_forgetPassModal", new ForgetPasswordVM())
        @Html.Partial("IndexPartial/Modals/_registerModal", new RegisterVM())

       
   

        @* Modals End *@
    </div>
    <script src="~/Content/Site/assets/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/Site/assets/js/modernizr-custom.js"></script>
    <script src="~/Content/Site/assets/js/remodal.js"></script>
    <script src="~/Content/Site/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/Site/assets/js/owl.carousel.js"></script>
    <script src="~/Content/Site/assets/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Content/Site/assets/js/jquery.validate.min.js"></script>
    <script src="~/Content/Site/assets/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/Site/assets/js/spinner.js"></script>
    <script src="~/Content/Site/assets/js/spin.config.js"></script>
    <script src="~/Content/Site/assets/js/toaster.js"></script>
    <script>
        (function () {
            $(".owl-carousel").owlCarousel({
                navigation: false,
                pagination: false,
                slideSpeed: 300,
                singleItem: true
            });
        })();
        
    </script>
</body>
</html>

