<footer>
    <div class="container">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 footer-logo text-center">
            <img src="~/Content/Site/assets/images/logo.png" class="img-responsive">
            <div class="copyright">@SiteLanguage.CopyRight</div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 pull-right footer-menu">
            <ul>
                <li><a href="#">@SiteLanguage.Contact</a></li>
                <li><a href="#">@SiteLanguage.About_Us</a></li>
                <li><a href="#">@SiteLanguage.Aggrement</a></li>
                <li>
                    <div class="dropup">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            @SiteLanguage.Language
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li style="padding-right:0px !important;"><a class="btn-sm btn-link" href="/BaseUI/ChangeLanguage?language=tr-TR">Turkçe</a></li>
                            <li style="padding-right:0px;"><a class="btn-sm btn-link" href="/BaseUI/ChangeLanguage?language=en-US">English</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</footer>


