
@using FeedVinc.WEB.UI.Models.ViewModels.Project.Profile
@model ProjectProfileVM


@if (ViewBag.CurrentUserID == Model.ProjectOwnerID)
{
    <div class="col-lg-12 col-md-12 col-sm-9 col-xs-12 fl-sm-none mb30">
        <div class="box-white project-store">
            <h5>Store</h5>
            <div class="project-store-box">
                <a href="#">
                    <span class="project-store-icon">
                        <img src="/Content/Site/assets/images/mentor-icon.jpg" class="img-responsive">
                    </span>
                    @SiteLanguage.Ask_Mentor
                </a>
            </div>
            <div class="project-store-box">
                <a href="#feedback-modal">
                    <span class="project-store-icon">
                        <img src="/Content/Site/assets/images/feedback-icon.jpg" class="img-responsive">
                    </span>
                    @SiteLanguage.Take_Feedback
                </a>
            </div>
            <div class="project-store-box">
                <a href="#">
                    <span class="project-store-icon">
                        <img src="/Content/Site/assets/images/rapor-icon.jpg" class="img-responsive">
                    </span>
                    @SiteLanguage.Take_Report
                </a>
            </div>
            <div class="project-store-box">
                <a href="#">
                    <span class="project-store-icon">
                        <img src="/Content/Site/assets/images/statistics-icon.jpg" class="img-responsive">
                    </span>
                    @SiteLanguage.Statistics
                </a>
            </div>
            <div class="project-store-box">
                <a href="/speed-networking/@Model.ProjectSlugify/@Model.ProjectCode/info">
                    <span class="project-store-icon">
                        <img src="/Content/Site/assets/images/speed-networking-icon.jpg" class="img-responsive">
                    </span>
                    @SiteLanguage.SpeedNetworking
                </a>
            </div>
            <div class="project-store-box">
                <a href="#lansman-modal">
                    <span class="project-store-icon">
                        <img src="/Content/Site/assets/images/rocket-icon-small.jpg" class="img-responsive">
                    </span>
                    @SiteLanguage.Start_Launch
                </a>
            </div>
        </div>
    </div>
}



