
@using FeedVinc.WEB.UI.Models.ViewModels.Project.Profile
@model ProjectProfileVM

<div class="box-white project-display-area">
    <div class="pda-image">
        <img style="max-height:150px; min-height:150px;" src="@Model.ProjectProfilePhoto" class="img-responsive">
    </div>
    <h2>@Model.ProjectName</h2>
    <div class="pda-category">
        <a href="#">@Model.ProjectCategoryName</a>
    </div>
    <ul class="pda-info-menu">
        <li>@Model.CityName, @Model.CountryName</li>
        <li>@Model.InvestedText</li>
    </ul>
    <p>“@Model.SalesPitch”</p>
    <div class="pda-info">
        <div class="pda-col-1">
            <div class="pda-row">
                <h6>@SiteLanguage.Feed_Point</h6>
                <p>@Model.FeedPoint</p>
            </div>
            <div class="pda-row">
                <h6>@SiteLanguage.Followers</h6>
                <p id="followerCount">@Model.FollowerCount.ToString()</p>
            </div>
        </div>
        <div class="pda-col-2">
            <a href="#">
                @Model.Owner.ProjectOwnerName
                <img src="@Model.Owner.ProjectOwnerPhotoPath" class="img-responsive">
            </a>
        </div>
    </div>
    <div class="pda-bottom">

        @if (Model.ProjectOwnerID == ViewBag.CurrentUserID)
        {
            <a href="/project-edit/@Model.ProjectSlugify/@Model.ProjectCode" class="btn btn-default f16 mt10 ml10">@SiteLanguage.Edit</a>
        }
        else
        {
            if (ViewBag.ProjectFollowedCurrentUser == true)
            {
                <button onclick="Follow(@ViewBag.CurrentUserID,@Model.ProjectID,'project')" type="button" name="takip-et" class="btn btn-default f16 mt10 ml10 project-follow_@Model.ProjectID">@SiteLanguage.Followed</button>
            }
            else
            {
                <button onclick="Follow(@ViewBag.CurrentUserID,@Model.ProjectID,'project')" type="button" name="takip-et" class="btn btn-default f16 mt10 ml10 project-follow_@Model.ProjectID">@SiteLanguage.Follow</button>
            }

        }

        <ul class="pda-btm-menu">
            <li><a href="@Model.Weblink">Web</a></li>
            <li><a href="@Model.AppleLink">iPhone</a></li>
            <li><a href="@Model.AndroidLink">Android</a></li>
        </ul>
    </div>
</div>
