
@using FeedVinc.WEB.UI.Models.ViewModels.Project.Profile
@model LaunchPostVM

<div class="remodal" data-remodal-id="lansman-modal" role="dialog" aria-labelledby="lansmanTitle" aria-describedby="lansmanDesc">
    <button data-remodal-action="close" class="remodal-close" aria-label="Kapat"></button>
    <div>
        <div id="lansmanloading"></div>
        <h2 id="lansmanTitle">@SiteLanguage.Launch_Add</h2>

        @using (Html.BeginForm("AddLaunch", "ProjectUI", FormMethod.Post, new { @enctype = "multipart/form-data",@id= "lansmanForm" }))
        {

            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.ProjectID)
             
            <div class="relative mb20">
                <label for="lansman_picture">@SiteLanguage.Launch_Picture</label>
                <div class="img-wrap">
                    <img src="~/Content/Site/assets/images/photo-added@3x.png" class="lansman-picture img-responsive">
                </div>
                @Html.TextBoxFor(x=> x.Photo,new {@class="inputfile", @data_viewer_class="lansman-picture",@type="file" })
            </div>
            
            <div class="text-danger">@Html.ValidationMessageFor(x => x.Photo)</div>
            <div style="margin-top:100px !important;">
                <label for="lansman-version">@SiteLanguage.Launch_Version</label>
                @Html.TextBoxFor(x=> x.Version)
            </div>
            <div class="text-danger">@Html.ValidationMessageFor(x => x.Version)</div>
            <div>
                <label for="lansman-web">@SiteLanguage.Launch_WebLink</label>
                @Html.TextBoxFor(x=> x.WebLink)
            </div>
            <div class="text-danger">@Html.ValidationMessageFor(x => x.WebLink)</div>
            <div>
                <label for="lansman-iphone">@SiteLanguage.Launch_AppleLink</label>
                @Html.TextBoxFor(x=> x.AppleLink)
            </div>
            <div class="text-danger">@Html.ValidationMessageFor(x => x.AppleLink)</div>
            <div>
                <label for="lansman-android">@SiteLanguage.Launch_AndroidLink</label>
                @Html.TextBoxFor(x=> x.AndroidLink)
            </div>
            <div class="text-danger">@Html.ValidationMessageFor(x => x.AndroidLink)</div>
            <div>
                <label for="lansman-info">@SiteLanguage.Information</label>
                @Html.TextAreaFor(x=> x.Information,new {@class="textarea hh100" })
            </div>
            <div class="text-danger">@Html.ValidationMessageFor(x => x.Information)</div>
            <div class="w100">
                <button type="submit" class="btn btn-default remodal-confirm">@SiteLanguage.Post_Button</button>
            </div>
        }

    </div>
</div>


