
@{
    ViewBag.Title = "PurchaseItem";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}


@using FeedVinc.WEB.UI.Models.ViewModels.Store
@model PurchaseScreenVM

@{
    Html.RenderAction("GetNavbar", "BaseUI");
}


<main>
    <section class="container">
        <div class="row">
            <!-- Satın Al Form Başla -->

            @using (Html.BeginForm("Pay", "StoreUI", FormMethod.Post, new { @class = "payment_form" }))
            {
            <section class="col-lg-8 col-md-8 col-sm-12 col-xs-12 mb30">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="payment-wrap">
                            <h1>@SiteLanguage.Payment_Information</h1>

                            <div class="box-white payment-box">
                                <h4>@SiteLanguage.Total</h4>
                                <div class="form-col">
                                    <div class="nice-radio pull-left mr20">
                                        <input type="radio" name="payment_method" id="payment_method">
                                        <label for="payment-method">@SiteLanguage.Continue</label>
                                    </div>
                                    <div class="nice-radio pull-left">
                                        <input type="radio" name="payment_method" id="payment_method">
                                        <label for="payment-method">@SiteLanguage.PayPal</label>
                                    </div>
                                </div>
                            </div>

                            <div class="box-white payment-box">
                                <h4>@SiteLanguage.Credit_Card_Information</h4>
                                <div class="form-col">
                                    <div class="form-small">
                                        <label for="card-owner">@SiteLanguage.CreditCard_Owner</label>
                                        <input type="text" name="card_owner" id="card_owner" class="inputs" />
                                    </div>
                                </div>
                                <div class="form-col">
                                    <div class="form-small">
                                        <label for="card-number">@SiteLanguage.Credit_Card_No</label>
                                        <input type="text" name="card_number" id="card_number" class="inputs" />
                                    </div>
                                </div>
                                <div class="form-col">
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 no-padding mr20">
                                        <label for="card-number">@SiteLanguage.Credit_Security_Code</label>
                                        <input type="text" name="card_security_code" id="card_security_code" class="inputs" />
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-7 col-xs-6 no-padding">
                                        <label for="card-number">@SiteLanguage.Cart</label>
                                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 no-padding">
                                            <input type="text" name="card_exp_month" id="card_exp_month" class="inputs" />
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                                            <div class="slash">/</div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 no-padding">
                                            <input type="text" name="card_exp_year" id="card_exp_year" class="inputs" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-col">
                                    <div class="nice-checkbox">
                                        <input type="checkbox" name="3d_security" id="3d_security">
                                        <label>3D Security</label>
                                    </div>
                                </div>
                            </div>

                            <div class="box-white payment-box">
                                <h4>@SiteLanguage.Total</h4>
                                <a href="#" class="edit-billing-info">@SiteLanguage.Continue</a>
                                <p>@SiteLanguage.NoAddressInfo</p>
                                <div class="form-col hide">
                                    <textarea name="billing_address" placeholder="Adresinizi girin" id="billing_address" class="textarea"></textarea>
                                    <button type="button" class="btn btn-default btn-xs fs16 save-billing-info pull-right">@SiteLanguage.Save</button>
                                </div>
                            </div>

                            <div class="box-white payment-box">
                                <h4>@SiteLanguage.User_Agreement</h4>
                                <a href="#" data-toggle="modal" data-target=".kullanici-sozlesmesi">Görüntüle</a>

                                <div class="form-col">
                                    <div class="nice-checkbox">
                                        <input type="checkbox" name="user_agreement" id="user_agreement">
                                        <label class="fs-xs">@SiteLanguage.Accept_Agreement</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="box-white sidebar-box shopping-cart-box text-center">
                            <h3>@SiteLanguage.Cart</h3>
                            <ul class="cart-list">

                                @foreach (var item in Model.CartItems)
                                {
                                    <li>
                                        <span>@item.AppName</span>
                                        <span>@item.CurrencyString</span>
                                    </li>
                                }

                                <li class="total">
                                    <span>@SiteLanguage.Total</span>
                                    <span class="sum">@Model.TotalPrice</span>
                                </li>
                            </ul>
                            <button type="submit" class="btn btn-default fs16 inline-block">@SiteLanguage.Pay</button>
                        </div>
                    </div>
                </div>
            </section>
            }

            
        </div>
    </section>
</main>



