
@using FeedVinc.WEB.UI.MessageFilter
@using FeedVinc.WEB.UI.UIServices
@model List<MessageContactVM>

<div class="choose-user">
    <div class="user-dropdown-header">
        <a href="#" class="pull-left" onClick="userGoBack('choose-user');">@SiteLanguage.Previous</a>
        <h6 class="text-center">@SiteLanguage.New_Message</h6>
    </div>
    <div class="user-dropdown-content">
        <div class="user-input-wrap">
            <label for="msg-to">@SiteLanguage.Contact_With</label>
            <input id="search-contact" onchange="SearchUser(this.value)" placeholder="@SiteLanguage.Search_UserName_Contact_With" type="text" name="msg-to" >
        </div>
        <ul class="user-dropdown-list" id="user-search-wrapper">
            @foreach (var item in Model)
            {
                <li>
                    <div class="dd-friend">
                        <img src="@item.ProfilePhoto">
                        <a id="choose_user_@item.RecieverID" href="#" onClick="newMsg(this,'@item.RecieverID','@UserManagerService.CurrentUser.ID');">@item.ContactName </a> <span style="color:#db9e36;line-height: 60px;
    padding-left: 10px;">   @item.MessageAccessType </span>
                    </div>
                </li>
            }

            @*<li class="active">
                    <div class="dd-friend">
                        <img src="~/Content/Site/assets/images/user.jpg">
                        <a href="#" onClick="newMsg(this,'2');">Cihan Bir</a>
                    </div>
                </li>*@
        </ul>
    </div>
</div>

