
@using FeedVinc.WEB.UI.MessageFilter
@model List<MessageContactVM>

<div class="choose-user">
    <div class="user-dropdown-header">
        <a href="#" class="pull-left" onClick="userGoBack('choose-user');">@SiteLanguage.Previous</a>
        <h6 class="text-center">@SiteLanguage.New_Message</h6>
    </div>
    <div class="user-dropdown-content">
        <div class="user-input-wrap">
            <label for="msg-to">@SiteLanguage.Contact_With</label>
            <input type="text" name="msg-to" class="msg-to-input">
        </div>
        <ul class="user-dropdown-list">
            @foreach (var item in Model)
            {
                <li class="active">
                    <div class="dd-friend">
                        <img src="@item.ProfilePhoto">
                        <a href="#" onClick="newMsg(this,'1');">@item.ContactName</a>
                    </div>
                </li>
            }
            
            @*<li class="active">
                <div class="dd-friend">
                    <img src="~/Content/Site/assets/images/user.jpg">
                    <a href="#" onClick="newMsg(this,'2');">Cihan Bir</a>
                </div>
            </li>*@
        </ul>
    </div>
</div>
