
@using FeedVinc.WEB.UI.Models.ViewModels.Message
@using FeedVinc.WEB.UI.UIServices
@model List<MessageVM>

@{
    var currentuserID = UserManagerService.CurrentUser.ID;
}


@foreach (var messageItem in Model)
{
    <div class="message-wrap" data-msg-id="@messageItem.SenderID">
        <div class="user-dropdown-header">
            <a href="#" class="pull-left" onClick="userGoBack('message-wrap');">@SiteLanguage.Previous</a>
            <div class="user-details">
                <img src="@messageItem.User.UserProfilePhoto">
                <a href="#" class="pull-right">@messageItem.User.UserName</a>
            </div>
        </div>
        <div class="user-dropdown-content" >
            <div class="message-row" id="message-content_@messageItem.SenderID">

                @foreach (var messageDetailItem in messageItem.MessageDetails)
                {

                        if (messageDetailItem.IsRecieved == true)
                        {

                        <div class="msg-content recieved">
                            <p>@messageDetailItem.Message</p>
                            <span>@messageDetailItem.PrettyPostDate</span>
                        </div>
                        }
                        else
                        {

                        <div class="msg-content sent">
                            <p>@messageDetailItem.Message</p>
                            <span>@messageDetailItem.PrettyPostDate</span>
                        </div>
                        }

                }

            </div>
            @*onClick="sendMsg(this);"*@
            <div class="user-input-wrap border-top">
                <input onchange="sendMsg(this,@messageItem.ReciverID,@messageItem.SenderID)" id="msg-to-input" type="text" name="msg-to" class="msg-to-input">
                <a onclick="sendMsg(this,@messageItem.ReciverID,@messageItem.SenderID)">@SiteLanguage.Post_Button</a>
            </div>
        </div>
    </div>
}


