
@model LoginVM

<div class="remodal" data-remodal-id="login-modal" role="dialog" aria-labelledby="girisyapTitle" aria-describedby="girisyapDesc">
    <button data-remodal-action="close" class="remodal-close" aria-label="Kapat"></button>
    <div>
        <div id="loading"></div>
        <h2 id="girisyapTitle">@SiteLanguage.Login</h2>

        @using (Ajax.BeginForm("Login", "AccountUI", null, new AjaxOptions { OnSuccess = "OnSuccess", OnBegin = "OnBegin", OnFailure = "OnFailure", OnComplete = "OnComplete" }, new { @class = "loginForm", @novalidate = "novalidate", @name = "loginForm", @id = "loginForm" }))
        {
            <span id="AccountIsValid" class="text-danger"></span>
            <div>
                <label for="email">@SiteLanguage.Email</label>
                @Html.TextBoxFor(x => x.Email)
            </div>
            <div>
                <label for="password">@SiteLanguage.Password</label>
                @Html.TextBoxFor(x => x.Password, new { @type = "Password" })
            </div>
            <div class="w100">
                <a href="#password-modal" class="forgot-password">@SiteLanguage.Forget_Password</a>
                <button type="submit" class="btn btn-default remodal-confirm">@SiteLanguage.Login</button>
            </div>
        }
        <div class="text-center">
            <a href="#register-modal" class="register-now">@SiteLanguage.Has_Not_Account</a>
        </div>
    </div>
</div>

<script>
    
function OnBegin() {
    var target = document.getElementById('loading');
    var spinner = new Spinner().spin();
    target.appendChild(spinner.el);
}

function OnFailure(error) {
    console.log(error.message);
}

function OnSuccess(response) {
    console.log(response);
    if (response.IsValid == false) {
        toastr.error(response.message);
    }
    else {
        $("#loginForm").trigger("reset");
        toastr.success(response.message);
        setTimeout(function () {
            toastr.clear();
            window.location.href = response.RedirectURL;
        }, 2000)
    }
}

function OnComplete() {
    var target = document.getElementById('loading');
    $(target).hide();
}
</script>

