
@model RegisterVM

<div class="remodal" data-remodal-id="register-modal" role="dialog" aria-labelledby="kayitolTitle" aria-describedby="kayitolDesc">
    <button data-remodal-action="close" class="remodal-close" aria-label="Kapat"></button>
    <div>
        <h2 id="girisyapTitle">@SiteLanguage.Register</h2>

        @using (Ajax.BeginForm("Register", "AccountUI",null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccess",OnComplete= "OnComplete",OnBegin="OnBegin",OnFailure= "OnFailure" }, new { @class = "registerForm",@novalidate="novalidate",@id="frmRegister" }))
        {
            <div>

                <label for="adsoyad">@SiteLanguage.FullName</label>
                <br />
                <span class="text-danger">@Html.ValidationMessageFor(x => x.FullName)</span>
                @Html.TextBoxFor(x=> x.FullName)
            </div>
            <div>
                <label for="email">@SiteLanguage.Email</label>
                <br />
                <span class="text-danger">@Html.ValidationMessageFor(x => x.Email)</span>
                <span class="text-danger" id="emailIsValid"></span>
                @Html.TextBoxFor(x=> x.Email)
            </div>
            <div>
                <label for="password">@SiteLanguage.Password</label>
                <br />
                <span class="text-danger">@Html.ValidationMessageFor(x => x.Password)</span>
                @Html.TextBoxFor(x => x.Password,new {@type="password" })
            </div>
            <div>
                <label for="password">@SiteLanguage.Password_Again</label>
                <br />
                <span class="text-danger">@Html.ValidationMessageFor(x => x.PasswordConfirm)</span>
                @Html.TextBoxFor(x=> x.PasswordConfirm, new {@type= "password"})
            </div>
            <div>
                <label for="usertype">@SiteLanguage.UserType</label>
                <div class="select-user-type">
                    <select name="UserType" class="usertype">
                        <option value="0">@SiteLanguage.Choose</option>
                        <option value="1">@SiteLanguage.Entrepreneur</option>
                        <option value="2">@SiteLanguage.Financier</option>
                        <option value="3">@SiteLanguage.Developer</option>
                    </select>
                    <span class="text-danger">@Html.ValidationMessageFor(x=> x.UserType)</span>
                </div>
            </div>
            <div class="w100">
                <button type="submit" class="btn btn-default remodal-confirm">@SiteLanguage.Register</button>
            </div>
        }

        <div class="text-center">
            <a href="#login-modal" class="register-now">@SiteLanguage.Has_Account_Login</a>
        </div>
    </div>
</div>

<script>

    function OnBegin() {

    }

    function OnFailure() {

    }

    function OnSuccess(response) {

        alert(response.IsValid);

        if (response.IsValid == false) {
            $("#emailIsValid").text(response.error[0]);
        }

        console.log(response);
    }

    function OnComplete() {
        alert("OK");
    }

</script>
