
@using FeedVinc.WEB.UI.Models.ViewModels.Community.Profile
@model List<InvestedProjectVM>

<div class="col-lg-12 col-md-12 col-sm-9 col-xs-12 fl-sm-none">
    <div class="sidebar-box box-white">
        <h3>@SiteLanguage.Invested_Project</h3>

        @foreach (var item in Model)
            {
            <div class="showcase-box">
                <div class="showcase-logo">
                    <img style="max-height:50px; max-width:50px;" src="@item.ProjectProfilePhoto" class="img-responsive">
                </div>
                <div class="showcase-caption">
                    <a href="/project-profile/@item.ProjectSlug/@item.ProjectCode">@item.ProjectName</a>
                </div>
                @if (item.OwnerID == ViewBag.CurrentUserID)
                {
                    <div class="project-follow">
                        <a href="/project-profile/@item.ProjectSlug/@item.ProjectCode" class="btn btn-default btn-xs">@SiteLanguage.Edit</a>
                    </div>
                }
                else if (item.IsFollowed)
                {
                    <div class="project-follow">
                        <button onclick="Follow(@ViewBag.CurrentUserID,@item.ProjectID,'project')" type="button" name="takip-et" class="btn btn-default btn-xs project-follow_@item.ProjectID">@SiteLanguage.Followed</button>
                    </div>
                }
                else if (!item.IsFollowed)
                {
                    <div class="project-follow">
                        <button onclick="Follow(@ViewBag.CurrentUserID,@item.ProjectID,'project')" type="button" name="takip-et" class="btn btn-default btn-xs project-follow_@item.ProjectID">@SiteLanguage.Follow</button>
                    </div>
                }
                <div class="w100 pull-left mt10">
                    <p>@item.SalesPitch</p>
                </div>
            </div>
        }

        <div class="text-center"><a href="#" class="show-all">@SiteLanguage.Show_All</a></div>
    </div>
</div>





