
@using FeedVinc.WEB.UI.Models.ViewModels.Notification
@model List<NotificationShareVM>

<div id="user-dropdown-notifications" class="jq-dropdown jq-dropdown-tip">
    <div class="jq-dropdown-panel">
        <div class="user-dropdown">
            <div class="user-dropdown-header">
                <h6>@SiteLanguage.LastestShareNotifications</h6>
                <a href="#bildirim-modal" class="pull-right">@SiteLanguage.Notifications</a>
            </div>
            <div class="user-dropdown-content">
                <ul class="user-dropdown-list" id="userNotificationDropDown">
                    @foreach (var item in Model)
                    {
                        <li>
                            <div class="dd-notifications">
                                <img src="@item.ProfilePhotoPath">
                                <div>
                                    <a href="/@item.ShareProfileLink">@item.ShareProfileName</a>
                                    <span style="color:#db9e36;">@item.NotificationText</span>
                                </div>
                                <span class="time">@item.SharePrettyDate</span>
                            </div>
                        </li>
                    }                    
                </ul>
            </div>
        </div>
    </div>
</div>
