@model SharePostVM

<div id="loading"></div>

<div class="share-box box-white">

    @using (Html.BeginForm("CommunityShare", "CommunityUI", FormMethod.Post, new { @id = "frmShare" }))
    {
        <div class="share-text">
            @Html.TextAreaFor(x => x.Post, new { @class = "share-textarea", @placeholder = SiteLanguage.Share_Post_PlaceHolder,@id= "share-textarea" })
        </div>
        <div class="share-attach">
            <div class="attach-box image">
                <img src="" title="" class="share-image" />
                <span class="attach-close">
            </div>
            <div class="attach-box video">
                <span class="attach-close">
            </div>

            <div class="attach-box map">
                @Html.TextBoxFor(x => x.Location, new { @class = "inputs", @placeholder = SiteLanguage.Share_Location_PlaceHolder })
                <span class="attach-close">
            </div>
        </div>
        <div class="share-buttons">
            @Html.TextBoxFor(x => x.MediaPhoto, new { @class = "uploadPhoto", @accept = "image/*", @type = "file",@id="share-photo" })
            @*<input type="file" name="share-video" accept=".mp4,.webm,.ogg" class="uploadVideo" />*@
            @Html.TextBoxFor(x => x.MediaVideo, new { @class = "uploadVideo", @accept = ".mp4,.webm,.ogg", @type = "file",@id="share-video" })


            <input id="ShareTypeValue" type="hidden" name="ShareTypeID" value="@Model.ShareTypeID" />
            <input id="PostUserValue" type="hidden" name="PostUserID" value="@Model.PostUserID" />
            <input id="PostCommunityID" type="hidden" name="CommunityID" value="@Model.CommunityID" />

            @Html.HiddenFor(x => x.CommunityID)

            <button type="button" name="share-photo" class="share-btn share-photo">
                <i class="fa fa-camera"></i>
            </button>
            <button type="button" name="share-video" class="share-btn share-video">
                <i class="fa fa-video-camera"></i>
            </button>
            <button type="button" name="share-place" class="share-btn share-place">
                <i class="fa fa-map-marker"></i>
            </button>

            <button type="submit" name="share-send" class="btn btn-default share-send pull-right">@SiteLanguage.Post_Button</button>
        </div>
    }

</div>

