@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

@model EditUserProfile

@section styles {

<link rel="stylesheet" href="/Content/Site/assets/css/bootstrap-datetimepicker.css" type="text/css" />

}

@Html.Partial("ProfilePartial/_userProfileSettingMenu")

<main>
    <section class="container">
        <div class="row">
            <div id="loading"></div>
            @using (Html.BeginForm("Edit", "AppUserUI", FormMethod.Post, new { @class = "profil-duzenle", @id = "frmprofile", @enctype = "multipart/form-data" }))
            {
            @Html.HiddenFor(x => x.UserID)
            @Html.HiddenFor(x=> x.ProfilePhotoPath)
            <section class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-col">
                    <label for="profile_name">@SiteLanguage.FullName</label>
                    @Html.TextBoxFor(x => x.FullName, new { @class = "inputs", @id = "profile_name" })
                </div>
                <div class="form-col">
                    <label for="profile_desc">@SiteLanguage.Description</label>
                    @Html.TextBoxFor(x => x.Description, new { @class = "textarea", @id = "profile_desc" })
                </div>
                <div class="form-col">
                    <div class="select">
                        <select name="EmailInformationEnabled" id="profile_email_setting" class="inputs">
                            <option value="false">@SiteLanguage.Hide_Email</option>
                            <option value="true">@SiteLanguage.Show_Email</option>
                        </select>
                    </div>
                </div>
                <div class="form-col">
                    <label for="profile_picture">@SiteLanguage.User_Profile_Photo</label>
                    <div class="img-wrap">
                        <img src="@Model.ProfilePhotoPath" style="max-height:120px; max-width:120px;" class="profile-picture img-responsive">
                    </div>
                    <input type="file" name="profile_picture" class="inputfile" data-viewer-class="profile-picture">
                </div>
                <div class="form-col relative">
                    <label for="">@SiteLanguage.User_BirthDate</label>
                    <div class="pick-date">
                        @Html.TextBoxFor(x => x.BirthDate, new { @class = "inputs datepicker", @id = "day_of_birth" })
                        <span class="date-icon"><i class="fa fa-calendar"></i><span>
                    </div>
                </div>
                <div class="form-col">
                    <div class="select">
                        <select name="CountryID" id="profile_country">
                            <option value="0">Ülke</option>
                            <option value="1">Türkiye</option>
                            <option value="2">Amerika</option>
                            <option value="3">İngiltere</option>
                        </select>
                    </div>
                </div>
                <div class="form-col">
                    <div class="select">
                        <select name="CityID" id="profile_city">
                            <option value="0">Şehir</option>
                            <option value="1">Ankara</option>
                            <option value="2">İstanbul</option>
                            <option value="3">İzmir</option>
                        </select>
                    </div>
                </div>
                <div class="form-col">
                    <div class="select">
                        <select name="UserTypeID" id="profile_type">
                            @switch (Model.UserTypeID)
                            {
                            case 1:
                            <option disabled value="0">@SiteLanguage.UserType</option>
                            <option selected value="1">@SiteLanguage.Developer</option>
                            <option value="2">@SiteLanguage.Financier</option>
                            <option value="3">@SiteLanguage.Entrepreneur</option>
                            break;
                            case 2:
                            <option disabled value="0">@SiteLanguage.UserType</option>
                            <option value="1">@SiteLanguage.Developer</option>
                            <option selected value="2">@SiteLanguage.Financier</option>
                            <option value="3">@SiteLanguage.Entrepreneur</option>
                            break;
                            case 3:
                            <option disabled value="0">@SiteLanguage.UserType</option>
                            <option value="1">@SiteLanguage.Developer</option>
                            <option value="2">@SiteLanguage.Financier</option>
                            <option selected value="3">@SiteLanguage.Entrepreneur</option>
                            break;
                            default:
                            <option disabled selected value="0">@SiteLanguage.UserType</option>
                            <option value="1">@SiteLanguage.Developer</option>
                            <option value="2">@SiteLanguage.Financier</option>
                            <option value="3">@SiteLanguage.Entrepreneur</option>
                            break;
                            }
                        </select>
                    </div>
                </div>
                <div class="form-col">
                    <label for="profile_phone">@SiteLanguage.Phone_Number</label>
                    @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "inputs", @id = "profile_phone" })
                </div>
                <div class="form-col">
                    <label for="profile_company">@SiteLanguage.Company_Info</label>
                    @Html.TextBoxFor(x => x.CompanyInformation, new { @class = "inputs", @id = "profile_company" })
                </div>
            </section>
            <!-- Form sol kısım bitti -->
            <!-- Form sağ kısım -->
            <section class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-col profile">
                    <label for="profile_about">@SiteLanguage.About (max 100 chars/karakter)</label>
                    @Html.TextAreaFor(x => x.About, new { @class = "textarea h100", @id = "profile_about" })
                </div>
            </section>
            <!-- Form sağ kısım bitti -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <input type="submit" value="@SiteLanguage.Edit_Button" name="@SiteLanguage.Edit_Button" class="btn btn-default pull-right fs21 mb30" />
            </div>
            }
        </div>
    </section>
</main>


@section scripts{


<script>

    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-full-width",
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };


    $('#frmprofile').ajaxForm({
        beforeSubmit: function () {
            var target = document.getElementById('loading');
            $(target).show();
            var spinner = new Spinner();
            console.log(spinner.opts);
            spinner.opts.top = "50%";
            spinner.opts.scale = 1;
            spinner.spin();
            target.appendChild(spinner.el);
        },
        success: function (response) {
            console.log(response);
            var target = document.getElementById('loading');
            $(target).hide();
            var msg = "";

            if (response.IsValid == true)
                toastr.success(response.SuccessMessage);
            else {
                $.each(response, function (key, value) {
                    msg = msg +  value.ErrorMessage + "</br>"
                })

                toastr.error(msg);
            }

        }
    });
</script>

}