@using FeedVinc.WEB.UI.Models.ViewModels.Home
@using FeedVinc.WEB.UI.UIServices
@model List<ShareVM>


@foreach (var item in Model)
{
    <div class="remodal-wrapper remodal-is-closed" style="display: none;">
        <div class="remodal comments-modal remodal-is-initialized remodal-is-closed" data-remodal-id="comments-modal_@item.ShareID" role="dialog" aria-labelledby="commentsTitle" aria-describedby="commentsDesc" tabindex="-1">
            <div class="comments-modal-wrap">

                <div class="comments-modal-content" id="post-container_@item.ShareID">
                    @foreach (var comment in item.ShareComments)
                    {
                        <div class="comments-modal-box">
                            <div class="comments-header">
                                <a href="/profile/@comment.CommentUser.UserName/@comment.CommentUser.UserCode"> <img src="@comment.CommentUser.UserProfilePhoto" class="img-responsive"></a>
                                <h6>@comment.CommentUser.UserName</h6>
                                <span>@comment.PrettyDate</span>
                            </div>
                            <div class="comment">
                                <p>@comment.CommentText</p>
                            </div>
                        </div>
                    }
                </div>
                <div class="comments-modal-bottom">
                    <div class="comment-input">
                        <input id="new-comment-post_@item.ShareID" type="text" name="feed-comment">
                    </div>
                    <button onclick="PostComment(@item.UserID,@item.ShareID,@item.ShareTypeID,@UserManagerService.CurrentUser.ID)" class="comment-send-btn">@SiteLanguage.Post_Button</button>
                </div>
            </div>
        </div>
    </div>

}



