@using FeedVinc.WEB.UI.Models.ViewModels.Home
@model List<ShareCommentVM>

@*<div class="remodal-wrapper remodal-is-closed" style="display: none;">
        <div class="remodal comments-modal remodal-is-initialized remodal-is-closed" data-remodal-id="comments-modal" role="dialog" aria-labelledby="commentsTitle" aria-describedby="commentsDesc" tabindex="-1">
            <div class="comments-modal-wrap">
                <div class="comments-modal-content">
                    <div class="comments-modal-box">
                        <div class="comments-header">
                            <img src="assets/images/user.jpg" class="img-responsive">
                            <h6>Cihan Bir</h6>
                            <span>1 Saat Önce</span>
                        </div>
                        <div class="comment">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="comments-modal-box">
                        <div class="comments-header">
                            <img src="assets/images/user.jpg" class="img-responsive">
                            <h6>Cihan Bir</h6>
                            <span>3 Saat Önce</span>
                        </div>
                        <div class="comment">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
                <div class="comments-modal-bottom">
                    <div class="comment-input">
                        <input type="text" name="feed-comment">
                    </div>
                    <button class="comment-send-btn">Gönder</button>
                </div>
            </div>
        </div>
    </div>*@

@*<div class="remodal-wrapper remodal-is-opened" style="display: block;">
    <div class="remodal comments-modal remodal-is-initialized remodal-is-opened" data-remodal-id="comments-modal" role="dialog" aria-labelledby="commentsTitle" aria-describedby="commentsDesc" tabindex="-1">
        <div class="comments-modal-wrap">
            <div class="comments-modal-content">
                @foreach (var item in Model)
                {
                    <div class="comments-modal-box">
                        <div class="comments-header">
                            <a href="/profile/@item.CommentUser.UserSlug/@item.CommentUser.UserCode"> <img src="@item.CommentUser.UserProfilePhoto" class="img-responsive"></a>
                            <h6>@item.CommentUser.UserName</h6>
                            <span>@item.PrettyDate</span>
                        </div>
                        <div class="comment">
                            <p>@item.CommentText</p>
                        </div>
                    </div>
                }

            </div>
            <div class="comments-modal-bottom">
                <div class="comment-input">
                    <input type="text" name="feed-comment">
                </div>
                <button onclick="PostComment()" class="comment-send-btn">@SiteLanguage.Post_Button</button>
            </div>
        </div>
    </div>
</div>*@

@*<div class="remodal comments-modal" data-remodal-id="comments-modal" role="dialog" aria-labelledby="commentsTitle" aria-describedby="commentsDesc">
        <div class="comments-modal-wrap">
            <div class="comments-modal-content">

            //arayı partial yapmayı denemelisin

                @foreach (var item in Model)
                {
                    <div class="comments-modal-box">
                        <div class="comments-header">
                            <a href="/profile/@item.CommentUser.UserSlug/@item.CommentUser.UserCode"> <img src="@item.CommentUser.UserProfilePhoto" class="img-responsive"></a>
                            <h6>@item.CommentUser.UserName</h6>
                            <span>@item.PrettyDate</span>
                        </div>
                        <div class="comment">
                            <p>@item.CommentText</p>
                        </div>
                    </div>
                }


            </div>
            <div class="comments-modal-bottom">
                <div class="comment-input">
                    <input type="text" name="feed-comment">
                </div>
                <button onclick="PostComment()" class="comment-send-btn">@SiteLanguage.Post_Button</button>
            </div>
        </div>
    </div>*@
