

@using FeedVinc.WEB.UI.Models.ViewModels.Notification
@model List<NotificationFollowVM>

<!-- Takipçiler Modal -->
<div class="remodal campaign-modal-wrap" data-remodal-id="takipciler-modal" role="dialog">
    <div class="campaign-modal">
        <div class="campaign-modal-top text-center">
            <h2 class="text-center">@SiteLanguage.Followers</h2>
        </div>

        <div id="userFollowModal" class="notifications-modal">
            <ul class="notification-list">
                @foreach (var item in Model)
                {
                    <li>
                        <div class="notifications">
                            <a href="javascript:GotoNotify('@item.Link','@item.PostID')">
                                <img src="@item.ProfilePhoto">
                            </a>
                            <div>
                                <a href="javascript:GotoNotify('@item.Link','@item.PostID')">@item.NotificationName</a>
                                <p>@item.NotificationText</p>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
        
    </div>
</div>



