<!DOCTYPE html>

@using FeedVinc.WEB.UI.UIServices

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href='https://fonts.googleapis.com/css?family=Asap:400,700|Cardo:400,400italic|Roboto:400,100,300,500|Source+Sans+Pro:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    @Styles.Render("~/bundles/style")
    @RenderSection("styles", false)


</head>
<body>
    <div class="remodal-bg">
        @{
            Html.RenderAction("GetNotificationCount", "BaseUI");
        }

        @RenderBody()

        <!-- @Html.Partial("Partial/_footer")-->
    </div>

    @{
        Html.RenderAction("GetUserMessage", "BaseUI");
    }

    @{
        Html.RenderAction("GetFollowNotificationTop5", "BaseUI");
    }

    @{
        Html.RenderAction("GetShareNotificationCurrentUserProfileTop5", "BaseUI");
    }


    @{
        Html.RenderAction("GetFollowNotification", "BaseUI");
    }

    @{
        Html.RenderAction("GetShareNotificationCurrentUserProfile", "BaseUI");
    }


    @Html.Partial("Partial/_userSettingDropDown")

    @Scripts.Render("~/bundles/script")

    <script src="~/Content/Site/assets/js/toaster.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
    <script>
        sessionStorage.setItem("UserID",@UserManagerService.CurrentUser.ID);
        sessionStorage.setItem("Lang","@LanguageService.getCurrentLanguage");
    </script>

    <script src="~/Scripts/notification.js"></script>

    @RenderSection("scripts", false)

    <script>
        $('#search-contact').keyup(function (e) {            
            if (e.keyCode==13) {
                SearchUser($(this).val())
            }
        })
    </script>


    <script>

        function GotoNotify(link,id) {
            $.ajax({
                url:'/follow-notify',
                type:"post",
                data:{id:id},
                success:function (res) {
                    window.location.href=link;
                }
            })

        }

    </script>

    <script>

        function ClearFilter() {
            sessionStorage.removeItem("category_filter");
            sessionStorage.removeItem("country_filter");
            sessionStorage.removeItem("city_filter");
        }

    </script>

    <script>

        function SendNewMessage(target,senderID) {
            var recieverID = $("#msg-to-id");
            alert(recieverID);
            //sendMsg(target,senderID,recieverID);
        }

    </script>

    <script>
        function SearchUser(value) {

            var currentUserID = sessionStorage.getItem("UserID");

            $.ajax({

                url:"/BaseUI/GetContact?searchText=" + value,
                type:"get",
                success:function (response) {
                    var htmlString = "";

                    $.each(response,function (key,value) {

                        htmlString = htmlString +
                      

                            '<li>' +
                                '<div class="dd-friend">' +
                                    '<img src="'+value.ProfilePhoto+'">' +
                                        '<a id="choose_user_"'+value.RecieverID+' href="#" onClick="newMsg(this,'+value.RecieverID+','+currentUserID+');">' + value.ContactName + '</a>' +
                                        '<span style="color:#db9e36;line-height:60px;padding-left:10px;"> '+value.MessageAccessType+' </span>' +
                                  '</div>' +
                            '</li>'

                    })

                    $("#user-search-wrapper").html(htmlString);
                }

            })
        }
    </script>




</body>
</html>
