<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href='https://fonts.googleapis.com/css?family=Asap:400,700|Cardo:400,400italic|Roboto:400,100,300,500|Source+Sans+Pro:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  
    @Styles.Render("~/bundles/style")
    @RenderSection("styles", false)

</head>
<body>
    <div class="remodal-bg">
        @Html.Partial("Partial/_header")
        @*@Html.Partial("Partial/_navbar")*@
        
        @RenderBody()

        @Html.Partial("Partial/_footer")
    </div>

    @Html.Partial("Partial/_userMessageDropDown")
    @Html.Partial("Partial/_friendRequestDropDown")
    @Html.Partial("Partial/_notificationDropDown")
    @Html.Partial("Partial/_userSettingDropDown")

    @Scripts.Render("~/bundles/script")
    @RenderSection("scripts", false)
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
</body>
</html>
