<!DOCTYPE html>

@using FeedVinc.WEB.UI.UIServices

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href='https://fonts.googleapis.com/css?family=Asap:400,700|Cardo:400,400italic|Roboto:400,100,300,500|Source+Sans+Pro:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    @Styles.Render("~/bundles/style")
    @RenderSection("styles", false)


</head>
<body>
    <div class="remodal-bg">
        @Html.Partial("Partial/_header")

        @RenderBody()

        <!-- @Html.Partial("Partial/_footer")-->
    </div>

    @Html.Partial("Partial/_userMessageDropDown")

    @{
        Html.RenderAction("GetFollowNotificationTop5", "BaseUI");
    }

    @{
        Html.RenderAction("GetShareNotificationCurrentUserProfileTop5", "BaseUI");
    }

    @Html.Partial("Partial/_userSettingDropDown")

    @{
        Html.RenderAction("GetFollowNotification", "BaseUI");
    }

    @{
        Html.RenderAction("GetShareNotificationCurrentUserProfile", "BaseUI");
    }

    @Scripts.Render("~/bundles/script")

    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
    <script>
        sessionStorage.setItem("UserID",@UserManagerService.CurrentUser.ID);
        sessionStorage.setItem("Lang","@LanguageService.getCurrentLanguage");
    </script>

    <script src="~/Scripts/notification.js"></script>
    <script src="~/Content/Site/custom/feedvinc.script.js"></script>

    @RenderSection("scripts", false)


</body>
</html>
