<!DOCTYPE html>

@using FeedVinc.WEB.UI.UIServices

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href='https://fonts.googleapis.com/css?family=Asap:400,700|Cardo:400,400italic|Roboto:400,100,300,500|Source+Sans+Pro:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    @Styles.Render("~/bundles/style")
    @RenderSection("styles", false)


</head>
<body>
    <div class="remodal-bg">
        @Html.Partial("Partial/_header")

        @RenderBody()

        <!-- @Html.Partial("Partial/_footer")-->
    </div>

    @{
        Html.RenderAction("GetUserMessage", "BaseUI");
    }

    @{
        Html.RenderAction("GetFollowNotificationTop5", "BaseUI");
    }

    @{
        Html.RenderAction("GetShareNotificationCurrentUserProfileTop5", "BaseUI");
    }


    @{
        Html.RenderAction("GetFollowNotification", "BaseUI");
    }

    @{
        Html.RenderAction("GetShareNotificationCurrentUserProfile", "BaseUI");
    }


    @Html.Partial("Partial/_userSettingDropDown")

    @Scripts.Render("~/bundles/script")

    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
    <script>
        sessionStorage.setItem("UserID",@UserManagerService.CurrentUser.ID);
        sessionStorage.setItem("Lang","@LanguageService.getCurrentLanguage");
    </script>

    <script src="~/Scripts/notification.js"></script>
    <script src="~/Content/Site/custom/feedvinc.script.js"></script>

    @RenderSection("scripts", false)


    <script>
        function SearchUser(value) {
            $.ajax({

                url:"/BaseUI/GetContact?searchText=" + value,
                type:"get",
                success:function (response) {

                    $.each(response,function (key,value) {
                        $("#user-search-wrapper").prepend(

                            '<li>' +
                                '<div class="dd-friend">' +
                                    '<img src="'+value.ProfilePhoto+'">' +
                                        '<a href="#" onClick="newMsg(this,'+value.RecieverID+');">' + value.ContactName + ' <span style="color:#db9e36"> '+value.MessageAccessType+' </span></a>' +
                                  '</div>' +
                            '</li>'

                            )
                    })
                }

            })
        }
    </script>




</body>
</html>
