<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href='https://fonts.googleapis.com/css?family=Asap:400,700|Cardo:400,400italic|Roboto:400,100,300,500|Source+Sans+Pro:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/Site/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/Site/assets/css/font-awesome.css">
    <link rel="stylesheet" href="~/Content/Site/assets/css/remodal.css">
    <link rel="stylesheet" href="~/Content/Site/assets/css/remodal-default-theme.css">
    <link rel="stylesheet" href="~/Content/Site/assets/css/jquery.dropdown.css">
    <link rel="stylesheet" href="~/Content/Site/assets/css/jquery.mCustomScrollbar.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/Site/assets/css/style.css">
    <link rel="stylesheet" href="~/Content/Site/assets/css/media-queries.css">
</head>
<body>
    <div class="remodal-bg">
        @Html.Partial("Partial/_header")
        @Html.Partial("Partial/_navbar")
        <main>
            <section class="container">
                <div class="row">
                    @RenderBody()
                </div>
            </section>
        </main>
        @Html.Partial("Partial/_footer")
    </div>

    <script src="~/Content/Site/assets/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/Site/assets/js/modernizr-custom.js"></script>
    <script src="~/Content/Site/assets/js/remodal.js"></script>
    <script src="~/Content/Site/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/Site/assets/js/jquery.dropdown.js"></script>
    <script src="~/Content/Site/assets/js/jquery.mCustomScrollbar.min.js"></script>
    <script src="~/Content/Site/assets/js/jquery.nicefileinput.js"></script>
    <script src="~/Content/Site/assets/js/notifyMe.js"></script>
    <script src="~/Content/Site/assets/js/jquery.raty-fa.js"></script>
    <script src="~/Content/Site/assets/js/scripts.js"></script>
</body>
</html>
