
@{
    ViewBag.Title = "CommunityManagerEdit";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

@using FeedVinc.WEB.UI.Models.ViewModels.Community
@model CommunityManagerTeamVM

@{
    Html.RenderPartial("CommunityPartial/_communityMenubar", Model.Menu);
}


<main>
    <section class="container">
        <div class="row">
            <div class="project-team-edit">
                    <div class="form-col mb30">
                        <label for="project-owner">@SiteLanguage.Community_Owner</label>
                        <div class="select">
                            @Html.DropDownListFor(x => x.OwnerID, (IEnumerable<SelectListItem>)ViewData["CommunityManagerDropDown"], new { @id = "drpOwner" })
                        </div>
                    </div>
                    <div class="form-col mb30">
                        <label>@SiteLanguage.Community_Admins</label>
                        
                        @foreach (var item in Model.CommunityAdmins)
                        {
                            <div class="box-white pte-box community">
                                <img src="@item.ProfilePhoto" class="img-responsive">
                                <h6>@item.UserName</h6>
                                <p>@item.UserJobType</p>
                                <div class="pte-setting">
                                    <a href="/profile/@item.UserSlugify"><i class="fa fa-cog"></i></a>
                                </div>
                            </div>
                        }

                        <div id="addMember">

                        </div>
                      
                    </div>
                <form id="frmAddMember">
                    <div class="form-col">
                        <label for="team-add-person">@SiteLanguage.Project_Team_Warning</label>
                        <input type="email" name="AddMemberEmail" id="team-add-person" class="inputs">
                        <input type="hidden" name="OwnerID" value="@Model.OwnerID" />
                        <input type="hidden" name="CommunityID" value="@Model.CommunityID" />
                    </div>
                    <div class="form-col">
                        <button type="submit" name="gonder" class="btn btn-default fs21 pull-right">@SiteLanguage.Add_Admin</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>


@section scripts{

    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-full-width",
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    </script>
    <script>

        $("#frmAddMember").submit(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $.ajax({
                url: "/CommunityUI/AddCommunityManager/",
                type:"Post",
                data:$("#frmAddMember").serializeArray(),
                success:function (response) {
                    console.log(response);
                    if (response.IsValid == true) {
                        $("#addMember").append('<div class="box-white pte-box community"><img src="' + response.Data.ProfilePhoto + '" class="img-responsive"><h6>' + response.Data.UserName + '</h6><p>' + response.Data.UserJobType + '</p><div class="pte-setting"><a href="/profile' + "/" + response.Data.UserSlugify + '"><i class="fa fa-cog"></i></a></div></div>');
                        toastr.success(response.SuccessMessage);
                    }
                    else
                        toastr.error(response.ErrorMessage);

                }
            })
        })


    </script>
  
}
