<main>
    <section class="container">
        <div class="row">
            <!-- İçerik -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb30">
                <h1 class="welcome">@SiteLanguage.Feedvinc_Slogan</h1>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 welcome-boxes">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="row">
                        <div class="welcome-box yatirimcilar">
                            <div class="wrapper">
                                <h1>@SiteLanguage.Financiers</h1>
                                <p>@SiteLanguage.Financier_Slogan</p>
                                <button class="btn-white">@SiteLanguage.Financier_Button</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="row">
                        <div class="welcome-box girisimciler">
                            <div class="wrapper">
                                <h1>@SiteLanguage.Entrepreneurs</h1>
                                <p>@SiteLanguage.Entrepreneur_Slogan</p>
                                <button class="btn-white">@SiteLanguage.Entrepreneur_Button</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="row">
                        <div class="welcome-box zanaatkarlar">
                            <div class="wrapper">
                                <h1>@SiteLanguage.Developers</h1>
                                <p>@SiteLanguage.Developer_Slogan</p>
                                <button class="btn-white">@SiteLanguage.Developer_Button</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb30">
                <h1 class="welcome">FeedVinc'de Yer Alan Projeler</h1>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb30">
                <div class="owl-carousel">
                    <div class="item">
                        <div class="slide-box">
                            <div class="logo-circle">
                                <img src="assets/images/logo-shape-logo.png" class="img-responsive">
                            </div>
                            <div class="cont">
                                <h1>Türkiye'nin Online Eğitim Portalı</h1>
                                <span>Yakın Kampüs</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slide-box">
                            <div class="logo-circle">
                                <img src="assets/images/logo-shape-logo.png" class="img-responsive">
                            </div>
                            <div class="cont">
                                <h1>Türkiye'nin Online Eğitim Portalı Yakın Kampüs</h1>
                                <span>Yakın Kampüs</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slide-box">
                            <div class="logo-circle">
                                <img src="assets/images/logo-shape-logo.png" class="img-responsive">
                            </div>
                            <div class="cont">
                                <h1>Türkiye'nin Bir Numaralı Online Eğitim Portalı</h1>
                                <span>Yakın Kampüs</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            <!-- İçerik bitti -->
        </div>
    </section>
</main>
