
@model IEnumerable<ShareVM>

<div class="feed-wrap">
    <div class="pad-mob-10" id="feeds">

        @foreach (var item in Model)
        {
            <div class="feed-feedback feed-home">
                <div class="feed-box box-white" data-feed-id="1">
                    <div class="feed-header">
                        <div class="feed-head">
                            <div class="feed-photo">
                                <img src="@item.ProfilePhotoPath" class="img-responsive">
                            </div>
                            <div class="feed-sender">
                                <a href="#">@item.User.FullName</a>
                            </div>
                            <div class="feed-time">
                                @item.PrettyDate
                            </div>
                            <div class="feed-cat">
                                @{string shareText = ""}
                                @{
                                    switch (item.ShareTypeID)
                                    {
                                        case 1:
                                            shareText = SiteLanguage._AROUNDME;
                                            break;
                                        case 2:
                                            shareText = SiteLanguage._IDEA;
                                            break;
                                        case 3:
                                            shareText = SiteLanguage._STORY_TELLING;
                                            break;
                                        case 4:
                                            shareText = SiteLanguage._FEEDBACK;
                                            break;
                                        case 5:
                                            shareText = SiteLanguage._LAUNCH;
                                            break;
                                    }
                                }
                                @shareText
                            </div>
                        </div>
                    </div>
                    <div class="feed-content">

                        @if (item.MediaTypeID == 0)
                        {
                        <img src="@item.PostMediaPath" class="small img-responsive">
                        <a href="#feedback-modal"><p>@item.Post</p></a>
                        }
                        else if (item.MediaTypeID == 1)
                        {
                        <div class="feed-video">
                            <video id="sn_video" class="video-post" preload="metadata" controls poster="~/Content/Site/assets/images/yakin_kampus.png">
                                <!-- HTML5 <video> sources -->
                                <source src="@item.PostMediaPath" type='video/mp4'>
                                <source src="@item.PostMediaPath" type='video/webm'>
                            </video>
                        </div>
                        }
                        else
                        {
                        <p>@item.Post</p>
                        }

                    </div>
                    <div class="feed-footer project-feed">

                        @if (item.ShareTypeID == 4)
                        {

                        <div class="feed-stars-wrap">
                            <span>247</span>
                            <div class="dropup">
                                <div class="feed-stars" role="button" data-toggle="dropdown"></div>
                                <div class="dropdown-menu">
                                    <div class="project-stars"></div>
                                </div>
                            </div>
                            <div class="feed-buttons">
                                <button type="button" name="feed-share" class="feed-btn">
                                    <span>7</span>
                                    <span><i class="fa fa-share"></i></span>
                                </button>
                            </div>
                        </div>
                        <ul class="feed-btm-menu">
                            <li><a href="#">Test Et</a></li>
                        </ul>

                        }
                        else
                        {
                        <div class="feed-buttons">
                            <button type="button" name="feed-like" class="feed-btn" data-jq-dropdown="#feed-likes-dropdown" data-horizontal-offset="-62%" data-vertical-offset="5">
                                <span>@item.LikeCount</span>
                                <span><i class="fa fa-thumbs-up"></i></span>
                            </button>
                        </div>
                        <div class="feed-buttons">
                            <button type="button" name="feed-comment" class="feed-btn">
                                <span>@item.CommentCount</span>
                                <span><i class="fa fa-comment"></i></span>
                            </button>
                        </div>
                        <div class="feed-buttons">
                            <button type="button" name="feed-share" class="feed-btn">
                                <span>@item.ShareCount</span>
                                <span><i class="fa fa-share"></i></span>
                            </button>
                        </div>
                        }
                    </div>
                </div>
            </div>
                                    }
    </div>
</div>
