
<div class="feed-tags mb20">
    <a href="javascript:MenuFilter(1)" class="home-feed-btn feed-tag" data-feed-tag="çevrem">@SiteLanguage._AROUNDME</a>
    <a data-feed-id="5" href="javascript:MenuFilter(6)" class="home-feed-btn feed-tag" data-feed-tag="lansman">@SiteLanguage._COMMUNITY</a>
    <a href="javascript:MenuFilter(2)" class="home-feed-btn feed-tag" data-feed-tag="idea">@SiteLanguage._IDEA</a>
    <a href="javascript:MenuFilter(3)" class="home-feed-btn feed-tag" data-feed-tag="story-telling">@SiteLanguage._STORY_TELLING</a>
    <a href="javascript:MenuFilter(4)" class="home-feed-btn feed-tag" data-feed-tag="feedback">@SiteLanguage._FEEDBACK</a>
    <a data-feed-id="5" href="javascript:MenuFilter(5)" class="home-feed-btn feed-tag" data-feed-tag="lansman">@SiteLanguage._LAUNCH</a>
</div>



