@using FeedVinc.WEB.UI.UIServices
@model IEnumerable<ShareVM>

@{
    var currentUserID = UserManagerService.CurrentUser.ID;
}


<div class="feed-wrap">
    <div class="pad-mob-10" id="feeds">

        @foreach (var item in Model)
        {
            <div class="feed-lansman" style="display:block;">
                <div class="feed-box box-white" data-feed-id="@item.ShareID">
                    <div class="feed-header">
                        <div class="feed-head">
                            <div class="feed-photo">
                                <img src="@item.Launch.ProjectProfileLogo" class="img-responsive">
                            </div>
                            <div class="feed-sender">
                                <a href="#">@item.Launch.ProjectName</a>
                            </div>
                            <div class="feed-time">
                                @item.PrettyDate
                            </div>
                            <div class="feed-cat">
                                <center>
                                    @SiteLanguage._LAUNCH<br>

                                    <font color=gray>@item.Launch.Version</font>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="feed-content">
                        <img src="@item.PostMediaPath" class="small img-responsive">
                        <a href="#lansman-modal"><p>@Html.Raw(item.Post)</p></a>
                    </div>
                    @if (item.Location != null)
                    {
                        <div class="pull-right" style="padding-right: 20px;font-size: 16px;color: #db9e36;">
                            <i class="fa fa-map-marker"></i>  @item.Location
                        </div>
                    }
                    <div class="feed-footer project-feed">
                        <div class="feed-stars-wrap">
                            <span>@item.ShareCount</span>
                            <div class="dropup">
                                <div class="feed-stars" role="button" data-toggle="dropdown"></div>
                                <div class="dropdown-menu">
                                    <div class="project-stars"></div>
                                </div>
                            </div>
                            <div class="feed-buttons" id="feed-share-button_@item.ShareID">
                                @if (item.UserID != currentUserID)
                                {
                                    <button onclick="SendSecondShare(@currentUserID,@item.ShareID,@item.ShareTypeID)" type="button" name="feed-share" class="feed-btn">
                                        <span id="feed-share_@item.ShareID">@item.ShareCount</span>
                                        <span><i class="fa fa-share"></i></span>
                                        <span id="feed-share-text_@item.ShareID">@SiteLanguage.Shared</span>
                                    </button>
                                }
                                else
                                {
                                    <button onclick="return alert('@SiteLanguage.SecondShareOwnerNotification');" type="button" name="feed-share" class="feed-btn">
                                        <span id="feed-share">@item.ShareCount</span>
                                        <span><i class="fa fa-share"></i></span>
                                        <span id="feed-share-text">@SiteLanguage.Shared</span>
                                    </button>
                                }
                            </div>
                        </div>
                        <ul class="feed-btm-menu">
                            <li><a href="@item.Launch.WebLink">@SiteLanguage.Launch_WebLink</a></li>
                            <li><a href="@item.Launch.AppleLink">@SiteLanguage.Launch_AppleLink</a></li>
                            <li><a href="@item.Launch.AndroidLink">@SiteLanguage.Launch_AndroidLink</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        }

        </div>
    </div>




