
@using FeedVinc.WEB.UI.UIServices
@model IEnumerable<ShareVM>

@{
    var currentUserID = UserManagerService.CurrentUser.ID;
}

<div class="feed-wrap">
    <div class="pad-mob-10" id="feeds">

        @foreach (var item in Model)
            {
                string active = item.LikedCurrentUser == true ? "active" : "";

            <div class="feed-home">
                <div class="feed-box box-white" data-feed-id="@item.ShareID">
                    <div class="feed-header">
                        <div class="feed-head">
                            <div class="feed-photo">
                                <img src="@item.Project.ProfilePath" class="img-responsive">
                            </div>
                            <div class="feed-sender">
                                <a href="#">@item.Project.ProjectName</a>
                            </div>
                            <div class="feed-time">
                                @item.PrettyDate
                            </div>
                            <div class="feed-cat">
                                @item.ShareTypeText
                            </div>
                        </div>
                    </div>
                    <div class="feed-content">

                        @if (item.MediaTypeID == 0)
                        {
                            <img src="@item.PostMediaPath" class="small img-responsive">
                            <a href="#feedback-modal"><p>@Html.Raw(item.Post)</p></a>
                        }
                        else if (item.MediaTypeID == 1)
                        {
                            <div class="feed-video">
                                <video id="sn_video" class="video-post" preload="metadata" controls poster="~/Content/Site/assets/images/yakin_kampus.png">
                                    <!-- HTML5 <video> sources -->
                                    <source src="@item.PostMediaPath" type='video/mp4'>
                                    <source src="@item.PostMediaPath" type='video/webm'>
                                </video>
                            </div>
                        }
                        else
                        {
                            <p>@Html.Raw(item.Post)</p>
                        }

                    </div>
                    <div class="pull-right" style="padding-right: 20px;font-size: 16px;color: #db9e36;">
                        <i class="fa fa-map-marker"></i>  @item.Location
                    </div>
                    <div class="feed-footer project-feed">


                        <div id="feed-like-button_@item.ShareID" class="feed-buttons @active">
                            <button onclick="Like(@currentUserID,@item.UserID,@item.ShareID,'project') type=" button" name="feed-like" class="feed-btn" data-jq-dropdown="#feed-likes-dropdown" data-horizontal-offset="-62%" data-vertical-offset="5">
                                <span id="feedlike_@item.ShareID">@item.LikeCount</span>
                                <span><i class="fa fa-thumbs-up"></i></span>
                                @if (item.LikedCurrentUser)
                                {
                                    <span id="feedlikeText_@item.ShareID">@SiteLanguage.Liked</span>
                                }
                                else
                                {
                                    <span id="feedlikeText_@item.ShareID">@SiteLanguage.Like</span>
                                }
                            </button>
                        </div>
                        <div class="feed-buttons">
                            <button onclick="GetComments(@item.Project.OwnerID,@item.ShareID,@item.ShareTypeID)" type="button" name="feed-comment" class="feed-btn">
                                <span id="feedcomment_@item.ShareID">@item.CommentCount</span>
                                <span><i class="fa fa-comment"></i></span>
                                <span>@SiteLanguage._Comments</span>
                            </button>
                        </div>
                        <div class="feed-buttons" id="feed-share-button_@item.ShareID">
                            <button onclick="SendSecondShare(@currentUserID,@item.ShareID,@item.ShareTypeID)" type="button" name="feed-share" class="feed-btn">
                                <span id="feed-share_@item.ShareID">@item.ShareCount</span>
                                <span><i class="fa fa-share"></i></span>
                                <span id="feed-share-text_@item.ShareID">@SiteLanguage.Shared</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>


